<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="seleniumMavenProject.practEx"/>
      <class name="parctDDT.practiceDDT"/>
      <class name="testNgProjects.dependMethods"/>
      <class name="parctDDT.readingFile"/>
      <class name="parctDDT.actitimeDDT"/>
      <class name="parctDDT.readingFile2"/>
      <class name="testNgProjects.parallelExecution"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
