<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TestNGProject"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS">
<mapEntry key="testNgPackage.dependsOn" value="openBrowserUrl;createTask;login;logout"/>
<mapEntry key="testNgPackage.enabled" value="createTask;openBrowserAndAppURL;logoutClose;login"/>
<mapEntry key="testNgPackage.example1" value="display;testCase1"/>
<mapEntry key="testNgPackage.example2Test" value="testcase3;testcase1;testcase4;testcase2"/>
<mapEntry key="testNgPackage.example3" value="compose;login;signUp"/>
<mapEntry key="testNgPackage.example4" value="b_login;c_compose;a_signUp"/>
</mapAttribute>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
<listEntry value="testNgPackage.enabled"/>
<listEntry value="testNgPackage.example1"/>
<listEntry value="testNgPackage.example4"/>
<listEntry value="testNgPackage.example3"/>
<listEntry value="testNgPackage.example2Test"/>
<listEntry value="testNgPackage.dependsOn"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
<stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
<intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
